workflows/Agent2-Daily-Lead-Research-TEMPLATE.json
{"updatedAt":"2026-05-20T14:54:33.000Z","createdAt":"2026-05-20T11:36:32.714Z","id":"UNqC3Spn3AyG5ryr","name":"Agent 2 — Daily Lead Research + DM Drafts","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"a2-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"method":"GET","url":"https://www.reddit.com/r/agency/new.json?limit=25","options":{"headers":{"parameters":[{"name":"User-Agent","value":"InboundOS/1.0"}]}}},"id":"a2-fetch","name":"Fetch Potential Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[420,300]},{"parameters":{"jsCode":"const posts = $('Fetch Potential Leads').first().json.data.children;\n\nconst rawLeads = posts.slice(0, 15).map(p => ({\n  username: p.data.author,\n  title: p.data.title,\n  body: (p.data.selftext || '').slice(0, 200),\n  url: 'https://reddit.com' + p.data.permalink\n}));\n\nconst prompt = `You are a lead qualifier for a content automation agency targeting agency owners.\\n\\nICP: Solo agency owner, 1-3 clients, $5K-$20K/mo, burns 10+ hrs/week manually on content, wants inbound leads.\\n\\nRAW LEADS:\\n${JSON.stringify(rawLeads, null, 2)}\\n\\nScore each lead 1-10. Only return leads scoring 6+. Return ONLY a JSON array, no markdown:\\n[\\n  {\\n    \"name\": \"username\",\\n    \"pain_signal\": \"specific quote or signal\",\\n    \"score\": 7,\\n    \"url\": \"post URL\",\\n    \"dm_draft\": \"3-4 sentence personalized DM. Start with something specific about them. End with 1 low-commitment question. No pitch. Peer tone. Direct, no fluff.\"\\n  }\\n]`;\n\nreturn [{ json: { prompt } }];"},"id":"a2-build","name":"Build Lead Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3579/claude","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":120000}},"id":"a2-claude","name":"Run Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[860,300]},{"parameters":{"jsCode":"const raw = $('Run Claude').first().json.output || '';\n\nlet leads = [];\ntry {\n  const start = raw.indexOf('[');\n  const end = raw.lastIndexOf(']');\n  if (start !== -1 && end !== -1) {\n    leads = JSON.parse(raw.slice(start, end + 1));\n  }\n} catch(e) {\n  leads = [];\n}\n\nreturn leads.filter(l => l.score >= 6).slice(0, 10).map(l => ({ json: l }));"},"id":"a2-parse","name":"Parse Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,300]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"create","databaseId":"3660c14dbe5e803583bdc07bb899fd09","title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Status","type":"status","statusValue":"New Leads"},{"key":"Pain Signal","type":"rich_text","textContent":"={{ $json.pain_signal }}"},{"key":"DM Draft","type":"rich_text","textContent":"={{ $json.dm_draft }}"},{"key":"Score","type":"number","numberValue":"={{ $json.score }}"},{"key":"Source URL","type":"url","urlValue":"={{ $json.url }}"}]}},"id":"a2-write","name":"Write to Lead Pipeline","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1300,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"create","databaseId":"81170d3909904cd181b0727cee435456","title":"Agent 2 — Lead Research","propertiesUi":{"propertyValues":[{"key":"Status","type":"select","selectValue":"Success"},{"key":"Notes","type":"rich_text","textContent":"={{ 'Leads added at ' + new Date().toISOString() }}"}]}},"id":"a2-log","name":"Log to Agent Logs","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1520,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Fetch Potential Leads","type":"main","index":0}]]},"Fetch Potential Leads":{"main":[[{"node":"Build Lead Prompt","type":"main","index":0}]]},"Build Lead Prompt":{"main":[[{"node":"Run Claude","type":"main","index":0}]]},"Run Claude":{"main":[[{"node":"Parse Leads","type":"main","index":0}]]},"Parse Leads":{"main":[[{"node":"Write to Lead Pipeline","type":"main","index":0}]]},"Write to Lead Pipeline":{"main":[[{"node":"Log to Agent Logs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"15ba6948-224f-4f64-8533-03fa4708447c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-20T11:36:32.716Z","createdAt":"2026-05-20T11:36:32.716Z","role":"workflow:owner","workflowId":"UNqC3Spn3AyG5ryr","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}