workflows/Agent1-Daily-Hook-Script-Generator-TEMPLATE.json
{"updatedAt":"2026-05-20T14:54:34.000Z","createdAt":"2026-05-20T11:36:32.571Z","id":"oVC4dBeTrDJsuvqd","name":"Agent 1 — Daily Hook + Script Generator","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"a1-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"method":"GET","url":"https://www.reddit.com/r/Entrepreneur/top.json?limit=10&t=day","options":{"headers":{"parameters":[{"name":"User-Agent","value":"InboundOS/1.0"}]}}},"id":"a1-fetch","name":"Fetch Reddit Trends","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[420,300]},{"parameters":{"jsCode":"const posts = $('Fetch Reddit Trends').first().json.data.children;\nconst topics = posts.slice(0, 5).map(p => p.data.title).join('\\n');\n\nconst prompt = `You are a short-form content strategist for agency owners doing $5K-$20K/mo SMM.\\n\\nICP: Solo agency owner, 1-3 clients, burns 10+ hrs/week manually creating content, wants inbound leads.\\nPain: No system, everything manual, cannot scale, content dies when they stop posting.\\nBrand voice: Direct, no fluff, Filipino founder energy, short sentences, fragments OK.\\nPlatform: Instagram, TikTok.\\nCTA goal: Book discovery call.\\n\\nTRENDING TOPICS:\\n${topics}\\n\\nCreate 5 hooks + scripts. Return ONLY a JSON array, no markdown, no explanation:\\n[\\n  {\\n    \"hook\": \"under 10 words, stops the scroll\",\\n    \"script\": \"60-90 second script, conversational, ends with soft CTA\",\\n    \"funnel_type\": \"Viral/TOFU or Educational/MOFU or Authority/BOFU\"\\n  }\\n]`;\n\nreturn [{ json: { prompt } }];"},"id":"a1-build","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3579/claude","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":120000}},"id":"a1-claude","name":"Run Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[860,300]},{"parameters":{"jsCode":"const raw = $('Run Claude').first().json.output || '';\n\nlet scripts = [];\ntry {\n  const start = raw.indexOf('[');\n  const end = raw.lastIndexOf(']');\n  if (start !== -1 && end !== -1) {\n    scripts = JSON.parse(raw.slice(start, end + 1));\n  }\n} catch(e) {\n  scripts = [{ hook: 'Parse error: ' + e.message, script: raw.slice(0, 500), funnel_type: 'Viral/TOFU' }];\n}\n\nreturn scripts.slice(0, 5).map(s => ({ json: s }));"},"id":"a1-parse","name":"Parse Scripts","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,300]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"create","databaseId":"2c00c14dbe5e81a183efdbcdca57ef8f","title":"={{ $json.hook }}","propertiesUi":{"propertyValues":[{"key":"Caption","type":"rich_text","textContent":"={{ $json.script }}"},{"key":"Status","type":"status","statusValue":"Scripting"},{"key":"Funnel Type","type":"select","selectValue":"={{ $json.funnel_type }}"},{"key":"Content Type","type":"select","selectValue":"Reel"}]}},"id":"a1-write","name":"Write to Content Queue","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1300,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"create","databaseId":"81170d3909904cd181b0727cee435456","title":"Agent 1 — Hook Generator","propertiesUi":{"propertyValues":[{"key":"Status","type":"select","selectValue":"Success"},{"key":"Notes","type":"rich_text","textContent":"={{ '5 scripts generated at ' + new Date().toISOString() }}"}]}},"id":"a1-log","name":"Log to Agent Logs","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1520,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Fetch Reddit Trends","type":"main","index":0}]]},"Fetch Reddit Trends":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Run Claude","type":"main","index":0}]]},"Run Claude":{"main":[[{"node":"Parse Scripts","type":"main","index":0}]]},"Parse Scripts":{"main":[[{"node":"Write to Content Queue","type":"main","index":0}]]},"Write to Content Queue":{"main":[[{"node":"Log to Agent Logs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"86249f4d-f490-4e1d-865b-d95d455c4bc9","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-20T11:36:32.573Z","createdAt":"2026-05-20T11:36:32.573Z","role":"workflow:owner","workflowId":"oVC4dBeTrDJsuvqd","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}