workflows/Agent4-Weekly-Performance-Report.json
{"updatedAt":"2026-05-20T14:54:28.000Z","createdAt":"2026-05-20T11:36:32.925Z","id":"exJe5ELjVATUdCpx","name":"Agent 4 — Weekly Performance Report","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":1}]}},"id":"a4-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"getAll","databaseId":"3660c14dbe5e803583bdc07bb899fd09","returnAll":true},"id":"a4-leads","name":"Get All Leads","type":"n8n-nodes-base.notion","typeVersion":2,"position":[420,200],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"getAll","databaseId":"2c00c14dbe5e81a183efdbcdca57ef8f","returnAll":true},"id":"a4-content","name":"Get Content Queue","type":"n8n-nodes-base.notion","typeVersion":2,"position":[420,420],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}},{"parameters":{"jsCode":"const leads = $('Get All Leads').all().map(i => i.json);\nconst content = $('Get Content Queue').all().map(i => i.json);\n\nconst oneWeekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\n\nconst recentLeads = leads.filter(l => l.created_time > oneWeekAgo);\nconst recentContent = content.filter(c => c.created_time > oneWeekAgo);\n\nconst leadsAdded = recentLeads.length;\nconst dmsReady = recentLeads.filter(l => l.properties?.Status?.status?.name === 'DM Ready').length;\nconst dmsSent = recentLeads.filter(l => l.properties?.Status?.status?.name === 'DM Sent').length;\nconst replied = recentLeads.filter(l => l.properties?.Status?.status?.name === 'Replied').length;\nconst booked = recentLeads.filter(l => l.properties?.Status?.status?.name === 'Call Booked').length;\nconst scriptsGenerated = recentContent.length;\nconst topHook = recentContent[0]?.properties?.Hook?.title?.[0]?.text?.content || 'N/A';\nconst weekLabel = new Date().toISOString().slice(0, 10);\n\nconst prompt = `You are a business analyst reviewing weekly performance for a content automation system.\\n\\nWEEK: ${weekLabel}\\n\\nACTIVITY:\\n- Scripts/hooks generated: ${scriptsGenerated}\\n- Leads researched: ${leadsAdded}\\n- DMs drafted: ${dmsReady}\\n- DMs sent: ${dmsSent}\\n- Replied: ${replied}\\n- Calls booked: ${booked}\\n- Top hook: \"${topHook}\"\\n\\nWrite a concise weekly performance report:\\n1. SUMMARY (3-5 sentences): What happened. What worked. What didn't. Treat reader like a founder with 2 minutes.\\n2. RECOMMENDATIONS (exactly 3 bullets): Highest-leverage actions for next week. Specific. Not generic.\\n\\nReturn as JSON only:\\n{\\n  \"summary\": \"...\",\\n  \"recommendations\": \"• Action 1\\\\n• Action 2\\\\n• Action 3\"\\n}`;\n\nreturn [{ json: { prompt, weekLabel, scriptsGenerated, leadsAdded, dmsReady, dmsSent, replied, booked, topHook } }];"},"id":"a4-agg","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3579/claude","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":120000}},"id":"a4-claude","name":"Run Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300]},{"parameters":{"jsCode":"const raw = $('Run Claude').first().json.output || '';\nconst stats = $('Aggregate Stats').first().json;\n\nlet report = { summary: '', recommendations: '' };\ntry {\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start !== -1 && end !== -1) {\n    report = JSON.parse(raw.slice(start, end + 1));\n  }\n} catch(e) {\n  report.summary = raw.slice(0, 1000);\n}\n\nreturn [{ json: { ...stats, ...report } }];"},"id":"a4-parse","name":"Parse Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"create","databaseId":"3660c14dbe5e80aaa3fde52494696203","title":"={{ 'Weekly Report — ' + $json.weekLabel }}","propertiesUi":{"propertyValues":[{"key":"Summary","type":"rich_text","textContent":"={{ $json.summary }}"},{"key":"Recommendations","type":"rich_text","textContent":"={{ $json.recommendations }}"},{"key":"Scripts Generated","type":"number","numberValue":"={{ $json.scriptsGenerated }}"},{"key":"Leads Added","type":"number","numberValue":"={{ $json.leadsAdded }}"},{"key":"DMs Sent","type":"number","numberValue":"={{ $json.dmsSent }}"},{"key":"Calls Booked","type":"number","numberValue":"={{ $json.booked }}"}]}},"id":"a4-write","name":"Write Weekly Report","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1340,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get All Leads","type":"main","index":0},{"node":"Get Content Queue","type":"main","index":0}]]},"Get All Leads":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Get Content Queue":{"main":[[{"node":"Aggregate Stats","type":"main","index":1}]]},"Aggregate Stats":{"main":[[{"node":"Run Claude","type":"main","index":0}]]},"Run Claude":{"main":[[{"node":"Parse Report","type":"main","index":0}]]},"Parse Report":{"main":[[{"node":"Write Weekly Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"17fb0e09-05f1-4311-a416-a9c8cb5df837","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-20T11:36:32.926Z","createdAt":"2026-05-20T11:36:32.926Z","role":"workflow:owner","workflowId":"exJe5ELjVATUdCpx","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"Micko Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}