workflows/Agent3-DM-Draft-Writer-TEMPLATE.json
{"updatedAt":"2026-05-20T14:54:29.000Z","createdAt":"2026-05-20T11:36:32.837Z","id":"IDVzxETbRVKH6e9L","name":"Agent 3 — DM Draft Writer (New Leads → DM Ready)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"a3-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"getAll","databaseId":"3660c14dbe5e803583bdc07bb899fd09","returnAll":false,"limit":20,"filterType":"manual","filters":{"conditions":[{"key":"Status","condition":"status_equals","value":"New Leads"}]}},"id":"a3-query","name":"Query New Leads","type":"n8n-nodes-base.notion","typeVersion":2,"position":[420,300],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}},{"parameters":{"jsCode":"const lead = $input.item.json;\nconst name = lead.properties?.Name?.title?.[0]?.text?.content || 'Unknown';\nconst painSignal = lead.properties?.['Pain Signal']?.rich_text?.[0]?.text?.content || '';\nconst existingDm = lead.properties?.['DM Draft']?.rich_text?.[0]?.text?.content || '';\n\nif (existingDm && existingDm.length > 20) {\n  return [{ json: { skip: true, pageId: lead.id, name } }];\n}\n\nconst prompt = `You are a DM copywriter for a content automation consultant named {{CLIENT_FIRST_NAME}} Cruz.\\n\\nSENDER: {{CLIENT_FIRST_NAME}} Cruz, InboundOS — helps agency owners get inbound leads via content automation.\\nBrand voice: Direct, no fluff, Filipino founder energy, peer tone, NOT a salesperson.\\n\\nLEAD:\\n- Name: ${name}\\n- Pain signal: ${painSignal}\\n\\nWrite 1 personalized cold DM. Rules:\\n- Max 4 sentences\\n- Start with something specific about THEM (from pain signal)\\n- No mention of your service in first message\\n- No 'I came across your profile'\\n- No emojis unless natural\\n- End with 1 low-commitment question about their situation\\n\\nReturn ONLY the DM text. No labels. No quotes. No explanation.`;\n\nreturn [{ json: { prompt, pageId: lead.id, name, painSignal, skip: false } }];"},"id":"a3-prep","name":"Prep DM Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.skip }}","value2":true}]}},"id":"a3-filter","name":"Skip If DM Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,300]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3579/claude","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":120000}},"id":"a3-claude","name":"Run Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1080,200]},{"parameters":{"authentication":"apiKey","resource":"databasePage","operation":"update","pageId":"={{ $('Prep DM Context').item.json.pageId }}","propertiesUi":{"propertyValues":[{"key":"DM Draft","type":"rich_text","textContent":"={{ $json.output }}"},{"key":"Status","type":"status","statusValue":"DM Ready"}]}},"id":"a3-update","name":"Update Lead — DM Ready","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1300,200],"credentials":{"notionApi":{"id":"notion-creds","name":"Notion API"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Query New Leads","type":"main","index":0}]]},"Query New Leads":{"main":[[{"node":"Prep DM Context","type":"main","index":0}]]},"Prep DM Context":{"main":[[{"node":"Skip If DM Exists","type":"main","index":0}]]},"Skip If DM Exists":{"main":[[],[{"node":"Run Claude","type":"main","index":0}]]},"Run Claude":{"main":[[{"node":"Update Lead — DM Ready","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"09c535ae-2d64-4b72-bead-196e4546d6fd","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-20T11:36:32.838Z","createdAt":"2026-05-20T11:36:32.838Z","role":"workflow:owner","workflowId":"IDVzxETbRVKH6e9L","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}