workflows/Apollo-Weekly-Analyzer-TEMPLATE.json
{"updatedAt":"2026-05-21T13:31:04.818Z","createdAt":"2026-05-21T00:26:35.866Z","id":"EPlXquPYMcn9btzn","name":"Apollo — Weekly Analyzer","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"node-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"855d5f51-0589-485a-b3b2-c959e4bc8e8d","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Generated Date|date","condition":"after","dateValue":"={{ DateTime.now().minus({days: 7}).toISO() }}"}]},"options":{}},"id":"node-get-scripts","name":"Get Last 7 Days Scripts","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[224,0],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}},{"parameters":{"jsCode":"const pages = $input.all().map(i => i.json);\n\n// Only use scripts that have at least one metric filled\nconst scored = pages.filter(p => {\n  const views = p.properties?.Views?.number;\n  const likes = p.properties?.Likes?.number;\n  const comments = p.properties?.Comments?.number;\n  return views != null || likes != null || comments != null;\n});\n\nif (scored.length === 0) {\n  return [{ json: { error: 'No scripts with metrics found', winners: [] } }];\n}\n\nconst getVal = (p, key) => p.properties?.[key]?.number || 0;\nconst getTitle = (p) => {\n  const t = p.properties?.title?.title || p.properties?.Name?.title || [];\n  return t.map(r => r.plain_text).join('') || p.id;\n};\nconst getFunnel = (p) => p.properties?.['Funnel Stage']?.select?.name || 'Unknown';\n\nconst topViews = [...scored].sort((a,b) => getVal(b,'Views') - getVal(a,'Views'))[0];\nconst topLikes = [...scored].sort((a,b) => getVal(b,'Likes') - getVal(a,'Likes'))[0];\nconst topComments = [...scored].sort((a,b) => getVal(b,'Comments') - getVal(a,'Comments'))[0];\n\nconst winners = [];\nconst seen = new Set();\n\nfor (const [winner, metric] of [[topViews,'Views'],[topLikes,'Likes'],[topComments,'Comments']]) {\n  if (winner && !seen.has(winner.id)) {\n    seen.add(winner.id);\n    winners.push({\n      id: winner.id,\n      title: getTitle(winner),\n      funnel_stage: getFunnel(winner),\n      winning_metric: metric,\n      views: getVal(winner,'Views'),\n      likes: getVal(winner,'Likes'),\n      comments: getVal(winner,'Comments'),\n      hook: winner.properties?.Hook?.rich_text?.[0]?.plain_text || '',\n      body_structure: winner.properties?.['Body Structure']?.rich_text?.[0]?.plain_text || '',\n      cta: winner.properties?.CTA?.rich_text?.[0]?.plain_text || '',\n      format: winner.properties?.Format?.select?.name || '',\n      tone: winner.properties?.Tone?.select?.name || '',\n      topics: (winner.properties?.Topics?.multi_select || []).map(t => t.name)\n    });\n  }\n}\n\nreturn winners.length ? winners.map(w => ({ json: w })) : [{ json: { error: 'All winners same script', winners: [] } }];"},"id":"node-find-winners","name":"Find Winners","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const winner = $input.first().json;\nif (winner.error) return [{ json: winner }];\n\nconst SYSTEM = 'You are Apollo, script writer for InboundOS targeting agency owners. Return JSON only with keys: hook, body_structure, cta, format, tone, emotional_trigger, topics (array), script_title.';\n\nconst base = `Parent script: \"${winner.title}\"\nFunnel: ${winner.funnel_stage}\nWinning metric: ${winner.winning_metric} (${winner[winner.winning_metric.toLowerCase()]})\nOriginal hook: ${winner.hook}\nOriginal structure: ${winner.body_structure}\nOriginal CTA: ${winner.cta}\nFormat: ${winner.format} | Tone: ${winner.tone}`;\n\nconst variations = [\n  {\n    variation: 'V1',\n    element_copied: 'Hook',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the hook style from this winner. Change everything else.\\n\\n' + base\n  },\n  {\n    variation: 'V2',\n    element_copied: 'Format',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the format/structure from this winner. Change hook, CTA, and content.\\n\\n' + base\n  },\n  {\n    variation: 'V3',\n    element_copied: 'CTA',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the CTA style from this winner. Change hook and body.\\n\\n' + base\n  },\n  {\n    variation: 'V4',\n    element_copied: 'Topics',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script on the same topics as this winner but with a completely different angle, hook, and structure.\\n\\nTopics: ' + winner.topics.join(', ') + '\\n\\n' + base\n  },\n  {\n    variation: 'V5',\n    element_copied: 'Structure',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the body structure pattern from this winner. New hook, new CTA, new content.\\n\\n' + base\n  }\n];\n\nreturn variations.map(v => ({ json: v }));"},"id":"node-build-variations","name":"Build 5 Variation Prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"options":{}},"id":"node-split","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,0]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3456/generate","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":90000}},"id":"node-claude","name":"Claude — Generate Variation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,80]},{"parameters":{"jsCode":"const raw = $input.first().json.text || $input.first().json.content || '';\nlet parsed = {};\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = m ? JSON.parse(m[0]) : {};\n} catch(e) {\n  parsed = { script_title: 'Parse Error', hook: raw.slice(0,300) };\n}\nconst meta = $('Split In Batches').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"},"id":"node-parse","name":"Parse Variation JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,80]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"855d5f51-0589-485a-b3b2-c959e4bc8e8d","mode":"id"},"title":"={{ ($json.script_title || 'Variation') + ' [' + $json.variation + ' — ' + $json.element_copied + ']' }}","propertiesUi":{"propertyValues":[{"key":"Hook|rich_text"},{"key":"Body Structure|rich_text"},{"key":"CTA|rich_text"},{"key":"Funnel Stage|select","selectValue":"={{ $json.funnel_stage || \"MOFU\" }}"},{"key":"Format|select","selectValue":"={{ $json.format }}"},{"key":"Tone|select","selectValue":"={{ $json.tone }}"},{"key":"Emotional Trigger|select","selectValue":"={{ $json.emotional_trigger }}"},{"key":"Topics|rich_text"},{"key":"Source|select","selectValue":"Variation"},{"key":"Variation Of|rich_text"},{"key":"Element Copied|select","selectValue":"={{ $json.element_copied }}"},{"key":"Date|date"}]},"options":{}},"id":"node-save","name":"Save Variation to Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1552,80],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}},{"parameters":{},"id":"node-loop-back","name":"Loop Back","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1760,80]},{"parameters":{"chatId":"956012734","text":"📊 *Weekly Reel Analysis Done*\n\nVariations generated from top performers this week.\n\nCheck Script Output DB in Notion for new variations.\n\nWeek ending: {{ new Date().toLocaleDateString() }}","additionalFields":{"parse_mode":"Markdown"}},"id":"node-telegram","name":"Telegram Weekly Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,-128],"webhookId":"56c55f47-38a0-43e5-bc9d-807476868408","credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Last 7 Days Scripts","type":"main","index":0}]]},"Get Last 7 Days Scripts":{"main":[[{"node":"Find Winners","type":"main","index":0}]]},"Find Winners":{"main":[[{"node":"Build 5 Variation Prompts","type":"main","index":0}]]},"Build 5 Variation Prompts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Telegram Weekly Report","type":"main","index":0}],[{"node":"Claude — Generate Variation","type":"main","index":0}]]},"Claude — Generate Variation":{"main":[[{"node":"Parse Variation JSON","type":"main","index":0}]]},"Parse Variation JSON":{"main":[[{"node":"Save Variation to Notion","type":"main","index":0}]]},"Save Variation to Notion":{"main":[[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"eb49f9e9-de63-4a34-951f-1991e91f5e6a","activeVersionId":"eb49f9e9-de63-4a34-951f-1991e91f5e6a","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-05-21T00:26:35.867Z","createdAt":"2026-05-21T00:26:35.867Z","role":"workflow:owner","workflowId":"EPlXquPYMcn9btzn","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-21T13:31:08.000Z","createdAt":"2026-05-21T13:31:04.821Z","versionId":"eb49f9e9-de63-4a34-951f-1991e91f5e6a","workflowId":"EPlXquPYMcn9btzn","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"node-schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"855d5f51-0589-485a-b3b2-c959e4bc8e8d","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Generated Date|date","condition":"after","dateValue":"={{ DateTime.now().minus({days: 7}).toISO() }}"}]},"options":{}},"id":"node-get-scripts","name":"Get Last 7 Days Scripts","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[224,0],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}},{"parameters":{"jsCode":"const pages = $input.all().map(i => i.json);\n\n// Only use scripts that have at least one metric filled\nconst scored = pages.filter(p => {\n  const views = p.properties?.Views?.number;\n  const likes = p.properties?.Likes?.number;\n  const comments = p.properties?.Comments?.number;\n  return views != null || likes != null || comments != null;\n});\n\nif (scored.length === 0) {\n  return [{ json: { error: 'No scripts with metrics found', winners: [] } }];\n}\n\nconst getVal = (p, key) => p.properties?.[key]?.number || 0;\nconst getTitle = (p) => {\n  const t = p.properties?.title?.title || p.properties?.Name?.title || [];\n  return t.map(r => r.plain_text).join('') || p.id;\n};\nconst getFunnel = (p) => p.properties?.['Funnel Stage']?.select?.name || 'Unknown';\n\nconst topViews = [...scored].sort((a,b) => getVal(b,'Views') - getVal(a,'Views'))[0];\nconst topLikes = [...scored].sort((a,b) => getVal(b,'Likes') - getVal(a,'Likes'))[0];\nconst topComments = [...scored].sort((a,b) => getVal(b,'Comments') - getVal(a,'Comments'))[0];\n\nconst winners = [];\nconst seen = new Set();\n\nfor (const [winner, metric] of [[topViews,'Views'],[topLikes,'Likes'],[topComments,'Comments']]) {\n  if (winner && !seen.has(winner.id)) {\n    seen.add(winner.id);\n    winners.push({\n      id: winner.id,\n      title: getTitle(winner),\n      funnel_stage: getFunnel(winner),\n      winning_metric: metric,\n      views: getVal(winner,'Views'),\n      likes: getVal(winner,'Likes'),\n      comments: getVal(winner,'Comments'),\n      hook: winner.properties?.Hook?.rich_text?.[0]?.plain_text || '',\n      body_structure: winner.properties?.['Body Structure']?.rich_text?.[0]?.plain_text || '',\n      cta: winner.properties?.CTA?.rich_text?.[0]?.plain_text || '',\n      format: winner.properties?.Format?.select?.name || '',\n      tone: winner.properties?.Tone?.select?.name || '',\n      topics: (winner.properties?.Topics?.multi_select || []).map(t => t.name)\n    });\n  }\n}\n\nreturn winners.length ? winners.map(w => ({ json: w })) : [{ json: { error: 'All winners same script', winners: [] } }];"},"id":"node-find-winners","name":"Find Winners","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const winner = $input.first().json;\nif (winner.error) return [{ json: winner }];\n\nconst SYSTEM = 'You are Apollo, script writer for InboundOS targeting agency owners. Return JSON only with keys: hook, body_structure, cta, format, tone, emotional_trigger, topics (array), script_title.';\n\nconst base = `Parent script: \"${winner.title}\"\nFunnel: ${winner.funnel_stage}\nWinning metric: ${winner.winning_metric} (${winner[winner.winning_metric.toLowerCase()]})\nOriginal hook: ${winner.hook}\nOriginal structure: ${winner.body_structure}\nOriginal CTA: ${winner.cta}\nFormat: ${winner.format} | Tone: ${winner.tone}`;\n\nconst variations = [\n  {\n    variation: 'V1',\n    element_copied: 'Hook',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the hook style from this winner. Change everything else.\\n\\n' + base\n  },\n  {\n    variation: 'V2',\n    element_copied: 'Format',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the format/structure from this winner. Change hook, CTA, and content.\\n\\n' + base\n  },\n  {\n    variation: 'V3',\n    element_copied: 'CTA',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the CTA style from this winner. Change hook and body.\\n\\n' + base\n  },\n  {\n    variation: 'V4',\n    element_copied: 'Topics',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script on the same topics as this winner but with a completely different angle, hook, and structure.\\n\\nTopics: ' + winner.topics.join(', ') + '\\n\\n' + base\n  },\n  {\n    variation: 'V5',\n    element_copied: 'Structure',\n    parent_id: winner.id,\n    parent_title: winner.title,\n    winning_metric: winner.winning_metric,\n    prompt: SYSTEM + '\\n\\nCreate a new script copying ONLY the body structure pattern from this winner. New hook, new CTA, new content.\\n\\n' + base\n  }\n];\n\nreturn variations.map(v => ({ json: v }));"},"id":"node-build-variations","name":"Build 5 Variation Prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"options":{}},"id":"node-split","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,0]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3456/generate","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":90000}},"id":"node-claude","name":"Claude — Generate Variation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,80]},{"parameters":{"jsCode":"const raw = $input.first().json.text || $input.first().json.content || '';\nlet parsed = {};\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = m ? JSON.parse(m[0]) : {};\n} catch(e) {\n  parsed = { script_title: 'Parse Error', hook: raw.slice(0,300) };\n}\nconst meta = $('Split In Batches').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"},"id":"node-parse","name":"Parse Variation JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,80]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"855d5f51-0589-485a-b3b2-c959e4bc8e8d","mode":"id"},"title":"={{ ($json.script_title || 'Variation') + ' [' + $json.variation + ' — ' + $json.element_copied + ']' }}","propertiesUi":{"propertyValues":[{"key":"Hook|rich_text"},{"key":"Body Structure|rich_text"},{"key":"CTA|rich_text"},{"key":"Funnel Stage|select","selectValue":"={{ $json.funnel_stage || \"MOFU\" }}"},{"key":"Format|select","selectValue":"={{ $json.format }}"},{"key":"Tone|select","selectValue":"={{ $json.tone }}"},{"key":"Emotional Trigger|select","selectValue":"={{ $json.emotional_trigger }}"},{"key":"Topics|rich_text"},{"key":"Source|select","selectValue":"Variation"},{"key":"Variation Of|rich_text"},{"key":"Element Copied|select","selectValue":"={{ $json.element_copied }}"},{"key":"Date|date"}]},"options":{}},"id":"node-save","name":"Save Variation to Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1552,80],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}},{"parameters":{},"id":"node-loop-back","name":"Loop Back","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1760,80]},{"parameters":{"chatId":"956012734","text":"📊 *Weekly Reel Analysis Done*\n\nVariations generated from top performers this week.\n\nCheck Script Output DB in Notion for new variations.\n\nWeek ending: {{ new Date().toLocaleDateString() }}","additionalFields":{"parse_mode":"Markdown"}},"id":"node-telegram","name":"Telegram Weekly Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,-128],"webhookId":"56c55f47-38a0-43e5-bc9d-807476868408","credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Last 7 Days Scripts","type":"main","index":0}]]},"Get Last 7 Days Scripts":{"main":[[{"node":"Find Winners","type":"main","index":0}]]},"Find Winners":{"main":[[{"node":"Build 5 Variation Prompts","type":"main","index":0}]]},"Build 5 Variation Prompts":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Telegram Weekly Report","type":"main","index":0}],[{"node":"Claude — Generate Variation","type":"main","index":0}]]},"Claude — Generate Variation":{"main":[[{"node":"Parse Variation JSON","type":"main","index":0}]]},"Parse Variation JSON":{"main":[[{"node":"Save Variation to Notion","type":"main","index":0}]]},"Save Variation to Notion":{"main":[[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"authors":"{{CLIENT_FIRST_NAME}} Cruz","name":"Version eb49f9e9","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-21T13:31:08.084Z","id":184,"workflowId":"EPlXquPYMcn9btzn","versionId":"eb49f9e9-de63-4a34-951f-1991e91f5e6a","event":"activated","userId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}]}}