workflows/Argus-Competitor-Scrape-TEMPLATE.json
{"updatedAt":"2026-05-25T19:14:02.610Z","createdAt":"2026-05-20T22:03:31.826Z","id":"1taNQKSE0FJ7jpIS","name":"Argus — Competitor Scrape","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"schedule-001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{},"id":"err-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-80,704]},{"parameters":{"chatId":"956012734","text":"=❌ Reel scraper FAILED\nError: {{ $json.message || 'Unknown' }}","additionalFields":{}},"id":"tg-err","name":"Telegram Error","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[160,704],"webhookId":"9360016d-b5ff-44b4-b075-a0bcbb132180","credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=chatto.gpt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-A","name":"Get User ID A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,208]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for chatto.gpt');\nreturn [{ json: { username: 'chatto.gpt', threat: 'HIGH', user_id: String(user_id) } }];"},"id":"ext-uid-A","name":"Extract UID A","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,208]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-A","name":"Scrape A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,208]},{"parameters":{"jsCode":"const uid_data = $('Extract UID A').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-A","name":"Extract Reels A","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=noevarner.ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-B","name":"Get User ID B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,400]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for noevarner.ai');\nreturn [{ json: { username: 'noevarner.ai', threat: 'MEDIUM', user_id: String(user_id) } }];"},"id":"ext-uid-B","name":"Extract UID B","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-B","name":"Scrape B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,400]},{"parameters":{"jsCode":"const uid_data = $('Extract UID B').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-B","name":"Extract Reels B","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400]},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=aifornontechies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-C","name":"Get User ID C","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,608]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for aifornontechies');\nreturn [{ json: { username: 'aifornontechies', threat: 'MEDIUM', user_id: String(user_id) } }];"},"id":"ext-uid-C","name":"Extract UID C","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,608]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-C","name":"Scrape C","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,608]},{"parameters":{"jsCode":"const uid_data = $('Extract UID C').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-C","name":"Extract Reels C","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,608]},{"parameters":{"numberInputs":3},"id":"merge-all","name":"Merge All Reels","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,400]},{"parameters":{"options":{}},"id":"loop-reels","name":"Loop Reels","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2176,400]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{GROQ_API_KEY}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"audioData"},{"name":"model","value":"whisper-large-v3"},{"name":"response_format","value":"json"}]},"options":{"timeout":120000}},"id":"transcribe","name":"Transcribe Groq Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2608,400]},{"parameters":{"jsCode":"const reel = $('Loop Reels').item.json;\nconst transcriptData = $input.first().json;\nconst transcript = transcriptData.text || transcriptData.transcript || '';\nreturn [{ json: { ...reel, transcript } }];"},"id":"merge-transcript","name":"Merge Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,400]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{GROQ_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'meta-llama/llama-4-scout-17b-16e-instruct', temperature: 0.2, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a content strategist. Extract structured data from Instagram Reel transcripts. Respond with valid JSON only.' }, { role: 'user', content: 'Analyze this reel. Return JSON with these exact keys: hook (first 1-2 sentences verbatim), hook_type (one of: Contradiction, Specific Number, Confession, Bold Claim, Pattern Interrupt, Question, Story), body_summary (1-2 sentences), cta (exact words or None), topic (one sentence), format (one of: Talking Head, B-roll, Demo, Screen Share, Mixed), emotional_trigger (one of: Aspiration, Frustration, Humor, Relief, Curiosity, FOMO), funnel_stage (TOFU, MOFU, or BOFU), steal_worthy (true or false), steal_reason (one sentence).\\\\n\\\\nTranscript: ' + $json.transcript + '\\\\n\\\\nCaption: ' + $json.caption }] }) }}","options":{"timeout":30000}},"id":"analyze","name":"Analyze LLaMA3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3088,400]},{"parameters":{"jsCode":"const reel = $('Merge Transcript').item.json;\nconst llmResponse = $input.first().json;\n\nlet analysis = {};\ntry {\n  const content = llmResponse.choices?.[0]?.message?.content || '{}';\n  analysis = JSON.parse(content);\n} catch(e) {\n  analysis = { hook: '', hook_type: 'Unknown', body_summary: '', cta: 'None', topic: '', format: 'Unknown', emotional_trigger: 'Unknown', funnel_stage: 'TOFU', steal_worthy: false, steal_reason: 'Parse failed' };\n}\n\nconst str = v => Array.isArray(v) ? (v[0] || '') : (v || '');\n\nreturn [{ json: {\n  competitor: '@' + reel.username,\n  threat_level: reel.threat,\n  reel_url: reel.reel_url,\n  scraped_date: new Date().toISOString().split('T')[0],\n  caption: reel.caption || '',\n  transcript: reel.transcript || '',\n  likes: reel.likes || 0,\n  views: reel.views || 0,\n  comments: reel.comments || 0,\n  hook: str(analysis.hook),\n  hook_type: str(analysis.hook_type) || 'Unknown',\n  body_summary: str(analysis.body_summary),\n  cta: str(analysis.cta) || 'None',\n  topic: str(analysis.topic),\n  format: str(analysis.format) || 'Unknown',\n  emotional_trigger: str(analysis.emotional_trigger) || 'Unknown',\n  funnel_stage: str(analysis.funnel_stage) || 'TOFU',\n  steal_worthy: analysis.steal_worthy === true,\n  steal_reason: str(analysis.steal_reason)\n} }];"},"id":"parse-analysis","name":"Parse Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,400]},{"parameters":{"method":"POST","url":"https://{{SUPABASE_URL}}/rest/v1/content_bucket","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Authorization","value":"Bearer REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  reel_title: $json.competitor + ' — ' + ($json.topic || 'Reel'),\n  competitor: Array.isArray($json.competitor) ? $json.competitor[0] : ($json.competitor || ''),\n  threat_level: Array.isArray($json.threat_level) ? $json.threat_level[0] : ($json.threat_level || ''),\n  reel_url: $json.reel_url,\n  hook: (Array.isArray($json.hook) ? $json.hook[0] : $json.hook || '').slice(0,2000),\n  hook_type: Array.isArray($json.hook_type) ? $json.hook_type[0] : ($json.hook_type || ''),\n  body_summary: (Array.isArray($json.body_summary) ? $json.body_summary[0] : $json.body_summary || '').slice(0,2000),\n  cta: (Array.isArray($json.cta) ? $json.cta[0] : $json.cta || '').slice(0,2000),\n  topic: (Array.isArray($json.topic) ? $json.topic[0] : $json.topic || '').slice(0,2000),\n  format: Array.isArray($json.format) ? $json.format[0] : ($json.format || ''),\n  emotional_trigger: Array.isArray($json.emotional_trigger) ? $json.emotional_trigger[0] : ($json.emotional_trigger || ''),\n  funnel_stage: Array.isArray($json.funnel_stage) ? $json.funnel_stage[0] : ($json.funnel_stage || ''),\n  steal_worthy: $json.steal_worthy || false,\n  notes: (Array.isArray($json.notes) ? $json.notes[0] : $json.notes || '').slice(0,2000),\n  views: $json.views || 0,\n  likes: $json.likes || 0,\n  comments: $json.comments || 0,\n  transcript: (Array.isArray($json.transcript) ? $json.transcript[0] : $json.transcript || '').slice(0,2000),\n  caption: (Array.isArray($json.caption) ? $json.caption[0] : $json.caption || '').slice(0,2000)\n}) }}"},"id":"add-notion","name":"Insert Content Bucket","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3568,400]},{"parameters":{"amount":2},"id":"rate-limit","name":"Rate Limit Reel","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3808,400],"webhookId":"b1a14db9-ebbe-4927-b377-7ca5ce11ccf7"},{"parameters":{"chatId":"956012734","text":"=✅ Reel scraper done!\n{{ new Date().toLocaleDateString() }} — @chatto.gpt, @noevarner.ai, @aifornontechies\nCheck Notion → Content Bucket","additionalFields":{}},"id":"tg-done","name":"Telegram Done","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[2464,208],"webhookId":"a1489803-acd0-4ac2-a35e-16d3b38eccd2","executeOnce":true,"credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}},{"parameters":{"url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"audioData"}},"timeout":120000}},"name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,400],"id":"76e76319-6a43-4d5b-b21b-b5b23bb92edc"},{"parameters":{"method":"GET","url":"https://{{SUPABASE_URL}}/rest/v1/content_bucket","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Authorization","value":"Bearer REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"id,reel_url,reel_title"},{"name":"order","value":"created_at.desc"}]}},"name":"Get Existing Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,400],"id":"8211e5c0-f829-4ff5-abe7-cc24aa924cc0"},{"parameters":{"jsCode":"// Collect all reel URLs already in Notion\nconst existingItems = $('Get Existing Reels').all();\nconst existingUrls = new Set(\n  existingItems\n    .map(item => {\n      const props = item.json.properties || {};\n      const reelUrlProp = props['Reel URL'];\n      return reelUrlProp?.url || '';\n    })\n    .filter(Boolean)\n);\n\n// Get scraped reels from Merge All Reels\nconst allReels = $('Merge All Reels').all();\n\n// Filter out duplicates\nconst newReels = allReels.filter(item => {\n  const url = item.json.reel_url || '';\n  return url && !existingUrls.has(url);\n});\n\nif (newReels.length === 0) {\n  throw new Error('No new reels to process — all already in Notion');\n}\n\nreturn newReels;"},"name":"Filter New Reels","type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,400],"id":"f3586b92-94b0-49f8-bfbd-dfd3512cfc33"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get User ID C","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Telegram Error","type":"main","index":0}]]},"Get User ID A":{"main":[[{"node":"Extract UID A","type":"main","index":0}]]},"Extract UID A":{"main":[[{"node":"Scrape A","type":"main","index":0}]]},"Scrape A":{"main":[[{"node":"Extract Reels A","type":"main","index":0}]]},"Get User ID B":{"main":[[{"node":"Extract UID B","type":"main","index":0}]]},"Extract UID B":{"main":[[{"node":"Scrape B","type":"main","index":0}]]},"Scrape B":{"main":[[{"node":"Extract Reels B","type":"main","index":0}]]},"Get User ID C":{"main":[[{"node":"Extract UID C","type":"main","index":0}]]},"Extract UID C":{"main":[[{"node":"Scrape C","type":"main","index":0}]]},"Scrape C":{"main":[[{"node":"Extract Reels C","type":"main","index":0}]]},"Extract Reels A":{"main":[[{"node":"Merge All Reels","type":"main","index":0}]]},"Extract Reels B":{"main":[[{"node":"Merge All Reels","type":"main","index":1}]]},"Extract Reels C":{"main":[[{"node":"Merge All Reels","type":"main","index":2}]]},"Merge All Reels":{"main":[[{"node":"Get Existing Reels","type":"main","index":0}]]},"Loop Reels":{"main":[[{"node":"Telegram Done","type":"main","index":0}],[{"node":"Download Audio","type":"main","index":0}]]},"Transcribe Groq Whisper":{"main":[[{"node":"Merge Transcript","type":"main","index":0}]]},"Merge Transcript":{"main":[[{"node":"Analyze LLaMA3","type":"main","index":0}]]},"Analyze LLaMA3":{"main":[[{"node":"Parse Analysis","type":"main","index":0}]]},"Parse Analysis":{"main":[[{"node":"Insert Content Bucket","type":"main","index":0}]]},"Add to Notion":{"main":[[{"node":"Rate Limit Reel","type":"main","index":0}]]},"Rate Limit Reel":{"main":[[{"node":"Loop Reels","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Groq Whisper","type":"main","index":0}]]},"Get Existing Reels":{"main":[[{"node":"Filter New Reels","type":"main","index":0}]]},"Filter New Reels":{"main":[[{"node":"Loop Reels","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"3dc957da-d852-49ef-85bc-52956b1da5d7","activeVersionId":"3dc957da-d852-49ef-85bc-52956b1da5d7","versionCounter":151,"triggerCount":1,"shared":[{"updatedAt":"2026-05-20T22:03:31.828Z","createdAt":"2026-05-20T22:03:31.828Z","role":"workflow:owner","workflowId":"1taNQKSE0FJ7jpIS","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-25T19:14:02.613Z","createdAt":"2026-05-25T19:14:02.613Z","versionId":"3dc957da-d852-49ef-85bc-52956b1da5d7","workflowId":"1taNQKSE0FJ7jpIS","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"schedule-001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{},"id":"err-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-80,704]},{"parameters":{"chatId":"956012734","text":"=❌ Reel scraper FAILED\nError: {{ $json.message || 'Unknown' }}","additionalFields":{}},"id":"tg-err","name":"Telegram Error","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[160,704],"webhookId":"9360016d-b5ff-44b4-b075-a0bcbb132180","credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=chatto.gpt","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-A","name":"Get User ID A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,208]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for chatto.gpt');\nreturn [{ json: { username: 'chatto.gpt', threat: 'HIGH', user_id: String(user_id) } }];"},"id":"ext-uid-A","name":"Extract UID A","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,208]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-A","name":"Scrape A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,208]},{"parameters":{"jsCode":"const uid_data = $('Extract UID A').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-A","name":"Extract Reels A","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=noevarner.ai","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-B","name":"Get User ID B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,400]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for noevarner.ai');\nreturn [{ json: { username: 'noevarner.ai', threat: 'MEDIUM', user_id: String(user_id) } }];"},"id":"ext-uid-B","name":"Extract UID B","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,400]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-B","name":"Scrape B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,400]},{"parameters":{"jsCode":"const uid_data = $('Extract UID B').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-B","name":"Extract Reels B","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400]},{"parameters":{"url":"https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/user_id_by_username?username=aifornontechies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"get-uid-C","name":"Get User ID C","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,608]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst user_id = response.UserID || response.user_id || response.id || response.data?.user_id || response.data?.id || '';\nif (!user_id) throw new Error('No user_id for aifornontechies');\nreturn [{ json: { username: 'aifornontechies', threat: 'MEDIUM', user_id: String(user_id) } }];"},"id":"ext-uid-C","name":"Extract UID C","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,608]},{"parameters":{"url":"=https://instagram-api-fast-reliable-data-scraper.p.rapidapi.com/reels?user_id={{ $json.user_id }}&include_feed_video=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-api-fast-reliable-data-scraper.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"ceb6733b49mshbfc9dd9de9e4ffbp13debdjsn8a0e3debcced"}]},"options":{}},"id":"scrape-C","name":"Scrape C","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,608]},{"parameters":{"jsCode":"const uid_data = $('Extract UID C').item.json;\nconst username = uid_data.username;\nconst threat = uid_data.threat;\nconst data = $input.first().json;\nconst rawItems = data?.data?.items || data?.collector || [];\nconst items = rawItems.map(i => i.media || i);\nconst reels = items\n  .filter(item => item.media_type === 2 || item.is_video === true)\n  .sort((a, b) => (b.play_count || b.view_count || 0) - (a.play_count || a.view_count || 0))\n  .slice(0, 10)\n  .map(item => ({\n    username,\n    threat,\n    reel_url: 'https://www.instagram.com/reel/' + (item.code || item.shortcode) + '/',\n    video_url: item.video_versions?.[0]?.url || item.video_url || '',\n    caption: (item.caption?.text || '').slice(0, 500),\n    likes: item.like_count || 0,\n    views: item.play_count || item.view_count || 0,\n    comments: item.comment_count || 0,\n    taken_at: item.taken_at || 0\n  }));\nreturn reels.map(r => ({ json: r }));"},"id":"ext-reels-C","name":"Extract Reels C","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,608]},{"parameters":{"numberInputs":3},"id":"merge-all","name":"Merge All Reels","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,400]},{"parameters":{"options":{}},"id":"loop-reels","name":"Loop Reels","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2176,400]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{GROQ_API_KEY}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"audioData"},{"name":"model","value":"whisper-large-v3"},{"name":"response_format","value":"json"}]},"options":{"timeout":120000}},"id":"transcribe","name":"Transcribe Groq Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2608,400]},{"parameters":{"jsCode":"const reel = $('Loop Reels').item.json;\nconst transcriptData = $input.first().json;\nconst transcript = transcriptData.text || transcriptData.transcript || '';\nreturn [{ json: { ...reel, transcript } }];"},"id":"merge-transcript","name":"Merge Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,400]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{GROQ_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'meta-llama/llama-4-scout-17b-16e-instruct', temperature: 0.2, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a content strategist. Extract structured data from Instagram Reel transcripts. Respond with valid JSON only.' }, { role: 'user', content: 'Analyze this reel. Return JSON with these exact keys: hook (first 1-2 sentences verbatim), hook_type (one of: Contradiction, Specific Number, Confession, Bold Claim, Pattern Interrupt, Question, Story), body_summary (1-2 sentences), cta (exact words or None), topic (one sentence), format (one of: Talking Head, B-roll, Demo, Screen Share, Mixed), emotional_trigger (one of: Aspiration, Frustration, Humor, Relief, Curiosity, FOMO), funnel_stage (TOFU, MOFU, or BOFU), steal_worthy (true or false), steal_reason (one sentence).\\\\n\\\\nTranscript: ' + $json.transcript + '\\\\n\\\\nCaption: ' + $json.caption }] }) }}","options":{"timeout":30000}},"id":"analyze","name":"Analyze LLaMA3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3088,400]},{"parameters":{"jsCode":"const reel = $('Merge Transcript').item.json;\nconst llmResponse = $input.first().json;\n\nlet analysis = {};\ntry {\n  const content = llmResponse.choices?.[0]?.message?.content || '{}';\n  analysis = JSON.parse(content);\n} catch(e) {\n  analysis = { hook: '', hook_type: 'Unknown', body_summary: '', cta: 'None', topic: '', format: 'Unknown', emotional_trigger: 'Unknown', funnel_stage: 'TOFU', steal_worthy: false, steal_reason: 'Parse failed' };\n}\n\nconst str = v => Array.isArray(v) ? (v[0] || '') : (v || '');\n\nreturn [{ json: {\n  competitor: '@' + reel.username,\n  threat_level: reel.threat,\n  reel_url: reel.reel_url,\n  scraped_date: new Date().toISOString().split('T')[0],\n  caption: reel.caption || '',\n  transcript: reel.transcript || '',\n  likes: reel.likes || 0,\n  views: reel.views || 0,\n  comments: reel.comments || 0,\n  hook: str(analysis.hook),\n  hook_type: str(analysis.hook_type) || 'Unknown',\n  body_summary: str(analysis.body_summary),\n  cta: str(analysis.cta) || 'None',\n  topic: str(analysis.topic),\n  format: str(analysis.format) || 'Unknown',\n  emotional_trigger: str(analysis.emotional_trigger) || 'Unknown',\n  funnel_stage: str(analysis.funnel_stage) || 'TOFU',\n  steal_worthy: analysis.steal_worthy === true,\n  steal_reason: str(analysis.steal_reason)\n} }];"},"id":"parse-analysis","name":"Parse Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,400]},{"parameters":{"method":"POST","url":"https://{{SUPABASE_URL}}/rest/v1/content_bucket","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Authorization","value":"Bearer REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  reel_title: $json.competitor + ' — ' + ($json.topic || 'Reel'),\n  competitor: Array.isArray($json.competitor) ? $json.competitor[0] : ($json.competitor || ''),\n  threat_level: Array.isArray($json.threat_level) ? $json.threat_level[0] : ($json.threat_level || ''),\n  reel_url: $json.reel_url,\n  hook: (Array.isArray($json.hook) ? $json.hook[0] : $json.hook || '').slice(0,2000),\n  hook_type: Array.isArray($json.hook_type) ? $json.hook_type[0] : ($json.hook_type || ''),\n  body_summary: (Array.isArray($json.body_summary) ? $json.body_summary[0] : $json.body_summary || '').slice(0,2000),\n  cta: (Array.isArray($json.cta) ? $json.cta[0] : $json.cta || '').slice(0,2000),\n  topic: (Array.isArray($json.topic) ? $json.topic[0] : $json.topic || '').slice(0,2000),\n  format: Array.isArray($json.format) ? $json.format[0] : ($json.format || ''),\n  emotional_trigger: Array.isArray($json.emotional_trigger) ? $json.emotional_trigger[0] : ($json.emotional_trigger || ''),\n  funnel_stage: Array.isArray($json.funnel_stage) ? $json.funnel_stage[0] : ($json.funnel_stage || ''),\n  steal_worthy: $json.steal_worthy || false,\n  notes: (Array.isArray($json.notes) ? $json.notes[0] : $json.notes || '').slice(0,2000),\n  views: $json.views || 0,\n  likes: $json.likes || 0,\n  comments: $json.comments || 0,\n  transcript: (Array.isArray($json.transcript) ? $json.transcript[0] : $json.transcript || '').slice(0,2000),\n  caption: (Array.isArray($json.caption) ? $json.caption[0] : $json.caption || '').slice(0,2000)\n}) }}"},"id":"add-notion","name":"Insert Content Bucket","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3568,400]},{"parameters":{"amount":2},"id":"rate-limit","name":"Rate Limit Reel","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3808,400],"webhookId":"b1a14db9-ebbe-4927-b377-7ca5ce11ccf7"},{"parameters":{"chatId":"956012734","text":"=✅ Reel scraper done!\n{{ new Date().toLocaleDateString() }} — @chatto.gpt, @noevarner.ai, @aifornontechies\nCheck Notion → Content Bucket","additionalFields":{}},"id":"tg-done","name":"Telegram Done","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[2464,208],"webhookId":"a1489803-acd0-4ac2-a35e-16d3b38eccd2","executeOnce":true,"credentials":{"telegramApi":{"id":"CY3u6gaCITg8Oo2S","name":"Telegram Bot (Nexus)"}}},{"parameters":{"url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"audioData"}},"timeout":120000}},"name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,400],"id":"76e76319-6a43-4d5b-b21b-b5b23bb92edc"},{"parameters":{"method":"GET","url":"https://{{SUPABASE_URL}}/rest/v1/content_bucket","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Authorization","value":"Bearer REPLACE_WITH_SECRET_KEY_VIA_ENV"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"id,reel_url,reel_title"},{"name":"order","value":"created_at.desc"}]}},"name":"Get Existing Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,400],"id":"8211e5c0-f829-4ff5-abe7-cc24aa924cc0"},{"parameters":{"jsCode":"// Collect all reel URLs already in Notion\nconst existingItems = $('Get Existing Reels').all();\nconst existingUrls = new Set(\n  existingItems\n    .map(item => {\n      const props = item.json.properties || {};\n      const reelUrlProp = props['Reel URL'];\n      return reelUrlProp?.url || '';\n    })\n    .filter(Boolean)\n);\n\n// Get scraped reels from Merge All Reels\nconst allReels = $('Merge All Reels').all();\n\n// Filter out duplicates\nconst newReels = allReels.filter(item => {\n  const url = item.json.reel_url || '';\n  return url && !existingUrls.has(url);\n});\n\nif (newReels.length === 0) {\n  throw new Error('No new reels to process — all already in Notion');\n}\n\nreturn newReels;"},"name":"Filter New Reels","type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,400],"id":"f3586b92-94b0-49f8-bfbd-dfd3512cfc33"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get User ID C","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Telegram Error","type":"main","index":0}]]},"Get User ID A":{"main":[[{"node":"Extract UID A","type":"main","index":0}]]},"Extract UID A":{"main":[[{"node":"Scrape A","type":"main","index":0}]]},"Scrape A":{"main":[[{"node":"Extract Reels A","type":"main","index":0}]]},"Get User ID B":{"main":[[{"node":"Extract UID B","type":"main","index":0}]]},"Extract UID B":{"main":[[{"node":"Scrape B","type":"main","index":0}]]},"Scrape B":{"main":[[{"node":"Extract Reels B","type":"main","index":0}]]},"Get User ID C":{"main":[[{"node":"Extract UID C","type":"main","index":0}]]},"Extract UID C":{"main":[[{"node":"Scrape C","type":"main","index":0}]]},"Scrape C":{"main":[[{"node":"Extract Reels C","type":"main","index":0}]]},"Extract Reels A":{"main":[[{"node":"Merge All Reels","type":"main","index":0}]]},"Extract Reels B":{"main":[[{"node":"Merge All Reels","type":"main","index":1}]]},"Extract Reels C":{"main":[[{"node":"Merge All Reels","type":"main","index":2}]]},"Merge All Reels":{"main":[[{"node":"Get Existing Reels","type":"main","index":0}]]},"Loop Reels":{"main":[[{"node":"Telegram Done","type":"main","index":0}],[{"node":"Download Audio","type":"main","index":0}]]},"Transcribe Groq Whisper":{"main":[[{"node":"Merge Transcript","type":"main","index":0}]]},"Merge Transcript":{"main":[[{"node":"Analyze LLaMA3","type":"main","index":0}]]},"Analyze LLaMA3":{"main":[[{"node":"Parse Analysis","type":"main","index":0}]]},"Parse Analysis":{"main":[[{"node":"Insert Content Bucket","type":"main","index":0}]]},"Add to Notion":{"main":[[{"node":"Rate Limit Reel","type":"main","index":0}]]},"Rate Limit Reel":{"main":[[{"node":"Loop Reels","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Groq Whisper","type":"main","index":0}]]},"Get Existing Reels":{"main":[[{"node":"Filter New Reels","type":"main","index":0}]]},"Filter New Reels":{"main":[[{"node":"Loop Reels","type":"main","index":0}]]}},"authors":"{{CLIENT_FIRST_NAME}} Cruz","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-25T19:14:02.699Z","id":263,"workflowId":"1taNQKSE0FJ7jpIS","versionId":"3dc957da-d852-49ef-85bc-52956b1da5d7","event":"activated","userId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"},{"createdAt":"2026-05-25T19:14:02.669Z","id":262,"workflowId":"1taNQKSE0FJ7jpIS","versionId":"3dc957da-d852-49ef-85bc-52956b1da5d7","event":"deactivated","userId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}]}}