workflows/Echo-TEMPLATE.json
{"updatedAt":"2026-05-21T18:19:37.000Z","createdAt":"2026-05-20T11:37:03.797Z","id":"kKzm9dQLxBVB3q3L","name":"Echo","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"const body = $('Webhook Trigger').first().json.body || $('Webhook Trigger').first().json;\n\nconst leadName = body.lead_name || body.name || 'Unknown';\nconst painSignal = body.pain_signal || '';\nconst theirReply = body.reply || body.message || '';\nconst pageId = body.notion_page_id || '';\n\nconst prompt = `You are a sales follow-up copywriter. A lead replied to an outreach DM.\\n\\nSENDER: {{CLIENT_FIRST_NAME}} Cruz, InboundOS.\\nBrand voice: Direct, no fluff, peer tone, not a closer.\\nBooking link: https://cal.com/micko\\n\\nLEAD:\\n- Name: ${leadName}\\n- Original pain signal: ${painSignal}\\n\\nTHEIR REPLY:\\n\"${theirReply}\"\\n\\nWrite the next message. Goal: move toward booking a discovery call.\\nRules:\\n- Max 4-5 sentences\\n- Acknowledge what they said specifically\\n- Add 1 line of value based on their pain\\n- Include booking link naturally — not forced\\n- End with low-pressure framing\\n\\nReturn ONLY the follow-up message text. No labels. No explanation.`;\n\nreturn [{ json: { prompt, leadName, painSignal, theirReply, pageId } }];"},"id":"a5-prep","name":"Prep Follow-Up","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"POST","url":"http://127.0.0.1:3579/claude","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{"timeout":120000}},"id":"a5-claude","name":"Run Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[640,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Prep Follow-Up').first().json.pageId }}","operation":"isNotEmpty"}]}},"id":"a5-check","name":"Has Notion Page?","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,300]},{"parameters":{"resource":"databasePage","operation":"update","pageId":"={{ $('Prep Follow-Up').first().json.pageId }}","propertiesUi":{"propertyValues":[{"key":"Follow-Up Draft","type":"rich_text","textContent":"={{ $('Run Claude').first().json.output }}"},{"key":"Status","type":"status","statusValue":"Replied"}]}},"id":"a5-update","name":"Update Lead in Notion","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1080,200],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"create","databaseId":"81170d3909904cd181b0727cee435456","title":"={{ 'Agent 5 — Follow-Up for ' + $('Prep Follow-Up').first().json.leadName }}","propertiesUi":{"propertyValues":[{"key":"Status","type":"select","selectValue":"Success"},{"key":"Notes","type":"rich_text","textContent":"={{ 'Follow-up generated at ' + new Date().toISOString() }}"}]}},"id":"a5-log","name":"Log to Agent Logs","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1080,420],"credentials":{"notionApi":{"id":"qo3OsW46dmx45csc","name":"Notion account"}}}],"connections":{"Prep Follow-Up":{"main":[[{"node":"Run Claude","type":"main","index":0}]]},"Run Claude":{"main":[[{"node":"Has Notion Page?","type":"main","index":0}]]},"Has Notion Page?":{"main":[[{"node":"Update Lead in Notion","type":"main","index":0}],[{"node":"Log to Agent Logs","type":"main","index":0}]]},"Update Lead in Notion":{"main":[[{"node":"Log to Agent Logs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"41c69e4c-c96d-44ae-b35d-9d0a1758ffc6","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-05-20T11:37:03.798Z","createdAt":"2026-05-20T11:37:03.798Z","role":"workflow:owner","workflowId":"kKzm9dQLxBVB3q3L","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}