workflows/Forge-Agent-InboundOS-TEMPLATE.json
{"updatedAt":"2026-05-27T19:45:54.804Z","createdAt":"2026-05-27T05:09:44.237Z","id":"w0yzSJjyhUiK4fCp","name":"Forge Agent — InboundOS","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"forge","responseMode":"responseNode","options":{}},"id":"aa77caec-67ea-42f3-838a-9eec23011335","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[400,0],"webhookId":"83d379ee-7dd5-4eac-b396-95d682b99023"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst o = body.onboarding || {};\nconst transcript = body.transcript || '';\nconst brand_docs = body.brand_docs || '';\n\nconst prompt = `You are Forge, an AI onboarding agent for InboundOS. Build two deliverables from the client data below.\n\n---\nCLIENT ONBOARDING DATA:\nEmail: ${o.email}\nOffer: ${o.offer}\nIdeal Client Profile: ${o.icp}\nProof / Results: ${o.proof}\nOrigin Story: ${o.origin_story}\nStory Bank: ${o.story_bank}\nBrand Voice: ${o.brand_voice}\nContent Hooks: ${o.hooks}\nContent History: ${o.content_history}\nCompetitors: ${o.competitors}\nCommon Objections: ${o.objections}\nDelivery Process: ${o.delivery_process}\nKey Differentiator: ${o.differentiator}\nOff-Limits Topics: ${o.off_limits}\nn8n Installed: ${o.n8n_installed}\nClaude Plan: ${o.claude_plan}\n\n---\nKICKOFF CALL TRANSCRIPT:\n${transcript}\n\n---\nBRAND DOCS:\n${brand_docs}\n\n---\nDELIVERABLES — respond with ONLY valid JSON, no markdown, no extra text:\n\n{\n  \"client_profile\": {\n    \"name\": \"<infer from transcript or email>\",\n    \"email\": \"<email>\",\n    \"offer_summary\": \"<2-3 sentence summary of what they sell and who they sell it to>\",\n    \"icp\": \"<detailed ideal client description>\",\n    \"brand_voice\": \"<tone, style, words they use, words to avoid>\",\n    \"top_hooks\": [\"<hook 1>\", \"<hook 2>\", \"<hook 3>\"],\n    \"proof_points\": [\"<result 1>\", \"<result 2>\", \"<result 3>\"],\n    \"objections\": [\"<objection 1>\", \"<objection 2>\"],\n    \"differentiators\": [\"<differentiator 1>\", \"<differentiator 2>\"],\n    \"off_limits\": [\"<topic 1>\"],\n    \"content_directions\": [\"<content angle 1>\", \"<content angle 2>\", \"<content angle 3>\"]\n  },\n  \"kickoff_deck\": {\n    \"audit\": \"<honest assessment of their current content + sales situation based on what they shared>\",\n    \"90_day_roadmap\": [\n      {\"week\": \"1-2\", \"focus\": \"<what happens>\"},\n      {\"week\": \"3-4\", \"focus\": \"<what happens>\"},\n      {\"week\": \"5-8\", \"focus\": \"<what happens>\"},\n      {\"week\": \"9-12\", \"focus\": \"<what happens>\"}\n    ],\n    \"deliverables\": [\n      \"<deliverable 1>\",\n      \"<deliverable 2>\",\n      \"<deliverable 3>\",\n      \"<deliverable 4>\"\n    ],\n    \"expectations\": {\n      \"from_micko\": [\"<what {{CLIENT_FIRST_NAME}} commits to>\"],\n      \"from_client\": [\"<what client must do for this to work>\"]\n    },\n    \"first_content_ideas\": [\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"},\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"},\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"}\n    ]\n  }\n}`;\n\nreturn [{ json: { prompt, email: o.email } }];"},"id":"ef07c927-e772-4dfc-829f-4247c36a92ff","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0]},{"parameters":{"method":"POST","url":"http://127.0.0.1:7821","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt }) }}","options":{"timeout":120000}},"id":"317958fe-26df-4a6b-bfb7-8e17a122cc81","name":"Run Claude CLI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[848,0]},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.stdout || '';\nconst email = $('Build Prompt').first().json.email;\n\nlet parsed;\ntry {\n  const clean = raw.replace(/```json?/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { raw_output: raw, parse_error: e.message };\n}\n\nreturn [{\n  json: {\n    email,\n    client_profile: parsed.client_profile || parsed,\n    kickoff_deck: parsed.kickoff_deck || {}\n  }\n}];"},"id":"5e558686-830a-4506-9e0f-5137c6849284","name":"Parse Claude Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0]},{"parameters":{"operation":"update","tableId":"onboarding","filterType":"string","fieldsUi":{"fieldValues":[{"fieldId":"client_profile","fieldValue":"={{ JSON.stringify($json.client_profile) }}"},{"fieldId":"kickoff_deck","fieldValue":"={{ JSON.stringify($json.kickoff_deck) }}"},{"fieldId":"status","fieldValue":"forge_complete"}]},"filterString":"={{ \"email=eq.\" + $json.email }}"},"id":"4d2d74e0-4325-487b-8636-9e0cf35e1a84","name":"Save to Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,0],"credentials":{"supabaseApi":{"id":"urcIR3E6J3lhAryD","name":"Supabase — InboundOS"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, email: $('Parse Claude Output').first().json.email, message: 'Forge complete' }) }}","options":{}},"id":"507795c4-6f1f-48fe-9bc8-d98f0badf693","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1520,0]}],"connections":{"Webhook":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Run Claude CLI","type":"main","index":0}]]},"Run Claude CLI":{"main":[[{"node":"Parse Claude Output","type":"main","index":0}]]},"Parse Claude Output":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"5959cf13-da5b-46f2-aa15-c76019e30ea3","activeVersionId":"5959cf13-da5b-46f2-aa15-c76019e30ea3","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-05-27T05:09:44.240Z","createdAt":"2026-05-27T05:09:44.240Z","role":"workflow:owner","workflowId":"w0yzSJjyhUiK4fCp","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-27T19:45:54.809Z","createdAt":"2026-05-27T19:45:54.809Z","versionId":"5959cf13-da5b-46f2-aa15-c76019e30ea3","workflowId":"w0yzSJjyhUiK4fCp","nodes":[{"parameters":{"httpMethod":"POST","path":"forge","responseMode":"responseNode","options":{}},"id":"aa77caec-67ea-42f3-838a-9eec23011335","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[400,0],"webhookId":"83d379ee-7dd5-4eac-b396-95d682b99023"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst o = body.onboarding || {};\nconst transcript = body.transcript || '';\nconst brand_docs = body.brand_docs || '';\n\nconst prompt = `You are Forge, an AI onboarding agent for InboundOS. Build two deliverables from the client data below.\n\n---\nCLIENT ONBOARDING DATA:\nEmail: ${o.email}\nOffer: ${o.offer}\nIdeal Client Profile: ${o.icp}\nProof / Results: ${o.proof}\nOrigin Story: ${o.origin_story}\nStory Bank: ${o.story_bank}\nBrand Voice: ${o.brand_voice}\nContent Hooks: ${o.hooks}\nContent History: ${o.content_history}\nCompetitors: ${o.competitors}\nCommon Objections: ${o.objections}\nDelivery Process: ${o.delivery_process}\nKey Differentiator: ${o.differentiator}\nOff-Limits Topics: ${o.off_limits}\nn8n Installed: ${o.n8n_installed}\nClaude Plan: ${o.claude_plan}\n\n---\nKICKOFF CALL TRANSCRIPT:\n${transcript}\n\n---\nBRAND DOCS:\n${brand_docs}\n\n---\nDELIVERABLES — respond with ONLY valid JSON, no markdown, no extra text:\n\n{\n  \"client_profile\": {\n    \"name\": \"<infer from transcript or email>\",\n    \"email\": \"<email>\",\n    \"offer_summary\": \"<2-3 sentence summary of what they sell and who they sell it to>\",\n    \"icp\": \"<detailed ideal client description>\",\n    \"brand_voice\": \"<tone, style, words they use, words to avoid>\",\n    \"top_hooks\": [\"<hook 1>\", \"<hook 2>\", \"<hook 3>\"],\n    \"proof_points\": [\"<result 1>\", \"<result 2>\", \"<result 3>\"],\n    \"objections\": [\"<objection 1>\", \"<objection 2>\"],\n    \"differentiators\": [\"<differentiator 1>\", \"<differentiator 2>\"],\n    \"off_limits\": [\"<topic 1>\"],\n    \"content_directions\": [\"<content angle 1>\", \"<content angle 2>\", \"<content angle 3>\"]\n  },\n  \"kickoff_deck\": {\n    \"audit\": \"<honest assessment of their current content + sales situation based on what they shared>\",\n    \"90_day_roadmap\": [\n      {\"week\": \"1-2\", \"focus\": \"<what happens>\"},\n      {\"week\": \"3-4\", \"focus\": \"<what happens>\"},\n      {\"week\": \"5-8\", \"focus\": \"<what happens>\"},\n      {\"week\": \"9-12\", \"focus\": \"<what happens>\"}\n    ],\n    \"deliverables\": [\n      \"<deliverable 1>\",\n      \"<deliverable 2>\",\n      \"<deliverable 3>\",\n      \"<deliverable 4>\"\n    ],\n    \"expectations\": {\n      \"from_micko\": [\"<what {{CLIENT_FIRST_NAME}} commits to>\"],\n      \"from_client\": [\"<what client must do for this to work>\"]\n    },\n    \"first_content_ideas\": [\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"},\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"},\n      {\"hook\": \"<hook>\", \"angle\": \"<angle>\", \"format\": \"<Reel/carousel/post>\"}\n    ]\n  }\n}`;\n\nreturn [{ json: { prompt, email: o.email } }];"},"id":"ef07c927-e772-4dfc-829f-4247c36a92ff","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0]},{"parameters":{"method":"POST","url":"http://127.0.0.1:7821","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt }) }}","options":{"timeout":120000}},"id":"317958fe-26df-4a6b-bfb7-8e17a122cc81","name":"Run Claude CLI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[848,0]},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.stdout || '';\nconst email = $('Build Prompt').first().json.email;\n\nlet parsed;\ntry {\n  const clean = raw.replace(/```json?/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { raw_output: raw, parse_error: e.message };\n}\n\nreturn [{\n  json: {\n    email,\n    client_profile: parsed.client_profile || parsed,\n    kickoff_deck: parsed.kickoff_deck || {}\n  }\n}];"},"id":"5e558686-830a-4506-9e0f-5137c6849284","name":"Parse Claude Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0]},{"parameters":{"operation":"update","tableId":"onboarding","filterType":"string","fieldsUi":{"fieldValues":[{"fieldId":"client_profile","fieldValue":"={{ JSON.stringify($json.client_profile) }}"},{"fieldId":"kickoff_deck","fieldValue":"={{ JSON.stringify($json.kickoff_deck) }}"},{"fieldId":"status","fieldValue":"forge_complete"}]},"filterString":"={{ \"email=eq.\" + $json.email }}"},"id":"4d2d74e0-4325-487b-8636-9e0cf35e1a84","name":"Save to Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,0],"credentials":{"supabaseApi":{"id":"urcIR3E6J3lhAryD","name":"Supabase — InboundOS"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, email: $('Parse Claude Output').first().json.email, message: 'Forge complete' }) }}","options":{}},"id":"507795c4-6f1f-48fe-9bc8-d98f0badf693","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1520,0]}],"connections":{"Webhook":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Run Claude CLI","type":"main","index":0}]]},"Run Claude CLI":{"main":[[{"node":"Parse Claude Output","type":"main","index":0}]]},"Parse Claude Output":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"{{CLIENT_FIRST_NAME}} Cruz","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-27T19:45:54.871Z","id":282,"workflowId":"w0yzSJjyhUiK4fCp","versionId":"5959cf13-da5b-46f2-aa15-c76019e30ea3","event":"activated","userId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"},{"createdAt":"2026-05-27T19:45:54.864Z","id":281,"workflowId":"w0yzSJjyhUiK4fCp","versionId":"5959cf13-da5b-46f2-aa15-c76019e30ea3","event":"deactivated","userId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}]}}