workflows/InboundOS-Agent-Bot-TEMPLATE.json
{"updatedAt":"2026-05-28T00:51:58.000Z","createdAt":"2026-05-16T07:55:22.732Z","id":"YgiDxJt5CO5BTXBv","name":"InboundOS Agent Bot","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"node1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"url":"https://api.telegram.org/bot8843031146:AAF_tmRAyQmW-EkFPIMlmnIgPpzZs2CsLhE/getUpdates","sendQuery":true,"queryParameters":{"parameters":[{"name":"timeout","value":"0"},{"name":"allowed_updates","value":"[\"message\"]"}]},"options":{}},"id":"node2","name":"Get Updates","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0]},{"parameters":{"jsCode":"const fs = require(\"fs\");\nconst offsetFile = \"/tmp/tg_offset.txt\";\n\nlet offset = 0;\ntry { offset = parseInt(fs.readFileSync(offsetFile, \"utf8\")) || 0; } catch(e) {}\n\nconst result = $input.first().json;\nconst updates = result.result || [];\nconst newMessages = updates.filter(u => u.update_id >= offset && u.message && u.message.text);\n\nif (newMessages.length === 0) return [];\n\nconst maxId = Math.max(...newMessages.map(u => u.update_id));\nfs.writeFileSync(offsetFile, String(maxId + 1));\n\nreturn newMessages.map(u => ({\n  json: {\n    chat_id: u.message.chat.id,\n    text: u.message.text,\n    from: u.message.from.first_name\n  }\n}));"},"id":"node3","name":"Process Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"method":"POST","url":"http://localhost:3457","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"node4","name":"Call Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8843031146:AAF_tmRAyQmW-EkFPIMlmnIgPpzZs2CsLhE/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"node5","name":"Send Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Updates","type":"main","index":0}]]},"Get Updates":{"main":[[{"node":"Process Messages","type":"main","index":0}]]},"Process Messages":{"main":[[{"node":"Call Claude Bridge","type":"main","index":0}]]},"Call Claude Bridge":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e4ca0460-a788-4f47-81dd-cb0d7bd514f2","activeVersionId":null,"versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-05-16T07:55:22.739Z","createdAt":"2026-05-16T07:55:22.739Z","role":"workflow:owner","workflowId":"YgiDxJt5CO5BTXBv","projectId":"IZgFAE28VHkL4DJK","project":{"updatedAt":"2026-05-16T00:22:59.398Z","createdAt":"2026-05-16T00:22:36.732Z","id":"IZgFAE28VHkL4DJK","name":"{{CLIENT_FIRST_NAME}} Cruz <mickocruz333@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e2df52d-83ce-499a-be38-a69f9acd1df9"}}],"tags":[],"activeVersion":null}